* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 20s infinite;
}

#number {
    user-select: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 42vw;
    margin: 0;
    color: white;
    max-height: 100%;
}

button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: none;
    padding: 10px 25px;
    border-radius: 100px;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    transform: translateX(-50%) translateY(-5px);
}

@keyframes animate {
    0% {
        background-color: yellow;
    }

    20% {
        background-color: salmon;
    }

    40% {
        background-color: turquoise;
    }

    60% {
        background-color: crimson;
    }

    80% {
        background-color: greenyellow;
    }

    100% {
        background-color: yellow;
    }
}